.formcontainer {
  width: 5rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  width: 57.4375rem;
  height: 37.875rem;
  /* background: #3c444d; */
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10rem;
}
.formcontainer input {
  border: none;
  /* background-color: #3c444d; */
  border-bottom: 1px solid #3c444d;
  font-weight: 100;
  font-size: 30px;
}
/* .formcontent{
    background-color: antiquewhite;
} */
.formcontainer input:focus {
  outline: none;
}
.formcontainer input[placeholder] {
  padding: 1rem;
}
