.formcontainer {
    display: flex;
    flex-direction: column;
}

.formcontainer input {
    border: none;
    border-bottom: 1px solid black;
    background-color: gray;
    padding: 5px 0;
}

.formcontainer label {
    margin-top: 1rem;
}

.formcontainer select {
    border: none;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    background-color: gray;
}

.formcontent {
    width: 27rem;
    margin: 0 auto;
    padding: 0.5rem 4rem;
    background-color: gray;
    /* padding: 2rem 5rem; */
    border-radius: 9px;
}

.formcontainer input:focus {
    outline: none;
}

.formcontainer select:focus {
    outline: none;
}