.button {
  background-color: #ffedcb;
  color: #000;
  border: none;
  font-size: 1rem;
  width: 7rem;
  font-weight: 100;
  padding: 0.5rem 1rem;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  background: linear-gradient(0deg,
      rgba(221, 204, 170, 0.5),
      rgba(221, 204, 170, 0.5)),
    rgba(255, 237, 203, 0.5);
  border-radius: 0.9375rem;
}