.container {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #352f50;
  padding: 1rem;
  height: 100vh;
}

.link {
  font-size: 1.5rem;
  color: beige;
  padding: 1rem;
}

